bcrypt==3.1.1
beautifulsoup4==4.5.1
brew==0.1.2
bs4==0.0.1
cffi==1.8.3
choice==0.1
click==6.6
colorama==0.3.7
cryptography==1.5.2
docopt==0.6.2
enum34==1.1.6
fileread==1.0.0
Flask==0.11.1
giturlparse.py==0.0.5
httplib2==0.9.2
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
mechanize==0.2.5
paramiko==2.0.2
py==1.4.31
pyasn1==0.1.9
pycparser==2.16
pyenchant==1.6.8
pymongo==3.3.0
pyparsing==2.1.10
pyperclip==1.5.27
PySocks==1.5.7
pysolr==3.6.0
pytest==3.0.3
pytz==2016.7
readline==6.2.4.1
requests==2.10.0
selenium==3.0.1
six==1.10.0
splinter==0.7.4
twilio==5.6.0
urllib3==1.14
virtualenv==15.0.3
watson-developer-cloud==0.22.0
Werkzeug==0.11.11
